@model List<Model.Book>
@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/Shared/_MyFilmMsater.cshtml";
}

<table style="width: 100%;" cellspacing="10">
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: right; width: 100px;">书名：</td>
            <td>
                <label>@item.Title</label></td>
            <td rowspan="6">
                <img id="@Html.DisplayFor(modelItem => item.ISBN)"src="#"/>
            </td>
        </tr>
        <tr>
            <td style="text-align: right">作者：</td>
            <td>
                <label>@item.Author</label></td>
        </tr>
        <tr>
            <td style="text-align: right">价格：</td>
            <td>
                <label>@item.Price</label></td>
        </tr>
        <tr>
            <td style="text-align: right">类别：</td>
            <td>
                <label>@item.CategoryName</label></td>
        </tr>
        <tr>
            <td style="text-align: right">出版社：</td>
            <td>
                <label>@item.PublisherName</label></td>
        </tr>
        <tr>
            <td style="text-align: right">出版日期：</td>
            <td>
                <label>@item.PublishDate</label></td>
        </tr>
        <tr>
            <td style="text-align: right">内容简介：</td>
            <td colspan="2">
                <label>@item.Content</label></td>
        </tr>
        <tr>
            <td style="text-align: right">作者简介：</td>
            <td colspan="2">
                <label>@item.AuthorDesc</label></td>
        </tr>
        <tr>
            <td style="text-align: right">编辑推介：</td>
            <td colspan="2">
                <label>@item.EditorComment</label></td>
        </tr>
        <script>
            //图片路径合成
            var url = "../../Image/BookCover/" +@Html.DisplayFor(modelItem => item.ISBN) +".jpg";
            document.getElementById("@Html.DisplayFor(modelItem => item.ISBN)").src = url;
        </script>
    }
</table>
