@model Model.UserInfo
@{
    ViewBag.Title = "GetBackPassword";
    Layout = "~/Views/Shared/_MyFilmMsater.cshtml";
}
<html>
    <head>
        <title>找回密码</title>
    </head>
    <body>
        <div style="text-align:center;">
            @using (@Html.BeginForm())
            {
                <br />
                <br />
                <p>
                    @Html.ActionLink("基本资料","Supplement","UserInfo")|
                    @Html.ActionLink("联系方式","Contact","UserInfo")|
                    @Html.ActionLink("密码保护","PasswordProtection","UserInfo")|
                    @Html.ActionLink("密码找回","GetBackPassword","UserInfo")
                </p>

                <br />
                <h1>密码找回</h1>
                <p>
                    帐号(<u>N</u>)：@Html.TextBox("txtUid")&nbsp;<input type="submit" id="btnSelect" value="查询" />
                                    @Html.ValidationMessageFor(u=>u.LoginName)
                </p>
                <p>@ViewBag.Text</p>
                <p>
                    @ViewBag.Question
                </p>
                <p>
                    答案(<u>N</u>)：@Html.TextBoxFor(u=>u.Answer)&nbsp;&nbsp;&nbsp;
                                    @Html.ValidationMessageFor(u=>u.Answer)
                </p>
                <br />
                <p>@ViewBag.Msg</p>
                <input type="submit" id="btnSave" value="保存" style="width:80px;" />
            }
        </div>
    </body>
</html>

